.bag {
    height: 50px;
}
button {
    color: white;
    background-color: rgb(255, 123, 0);
}
span {
    color:  rgb(255, 123, 0); 
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}

