table {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
img {
    height: 300px;
}
h1 
{
    color: blue;
}
h2 
{
    color: blue;
}
h3 
{
    color: blue;
}
h4 
{
    color: blue;
}
h5 
{
    color: blue;
}
h6 
{
    color: blue;
}
