h1 {
    color: crimson;
}
img {
    height: 300px;
}
h2 {
    color: crimson;
}
h3 {
    color: crimson;
}
h4 {
    color: crimson;
}
h5 {
    color: crimson;
}
h6 {
    color: crimson;
}