.def {
    color: rgb(24, 22, 22);
}
body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}
    .card {
        background-color: rgb(255, 255, 255);
        width: 400px;
        text-align: center;
        border-radius: 15px;
padding: 50px;
    
}
span {
    color: rgb(0, 231, 0);
}
img {
    height: 200px;
    width: 200px;
    border-radius: 50px;
    object-fit: cover;
}